<div #news id="news" class="news">
  <div class="news__container">
    <h2 class="news__title">Последние <span>новости</span></h2>
    <div class="news__slider">
      <app-news-slider id="news-slider" [data]="data"></app-news-slider>
    </div>
  </div>
</div>
