<ng-template #content><ng-content select="app-loader"></ng-content></ng-template>

<!--<div *ngIf="deviceService.isMobile() || deviceService.isTablet()"-->
<!--     [class]="cssClass" [class.select&#45;&#45;invalid]="isInvalid" [class.select&#45;&#45;disabled]="controlDisabled || disabled || !items.length">-->
<!--  <div class="select__loader">-->
<!--    <ng-container *ngTemplateOutlet="content"></ng-container>-->
<!--  </div>-->
<!--  <select #select [name]="id" [id]="id"-->
<!--          class="select__field" [ngModel]="value" (ngModelChange)="changeValue($event)"-->
<!--          [disabled]="controlDisabled || disabled || !items.length" >-->
<!--    <option *ngFor="let item of items" [value]="item.value">{{ item.name }}</option>-->
<!--  </select>-->
<!--</div>-->
<!--<ng-select  [id]="id" [items]="items" bindLabel="name" bindValue="value" [ngModel]="value" (change)="changeValue($event)">-->
<!--</ng-select>-->
<div *ngIf="true" [class]="cssClass" [class.select--invalid]="invalid"
     [class.select--opened]="isSelectOpened" [class.select--disabled]="stateDisabled || disabled || !items.length">
  <div class="select__loader">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
  <div class="select__field"
       [class.select__field--disabled]="stateDisabled || disabled || !items.length">
    <input
      *ngIf="isBreakpointMatched; else mobile"
      #inputField
      type="text"
      [value]="fieldValue"
      (focus)="openSelect()"
      (blur)="setFieldValue()"
      [disabled]="stateDisabled || disabled || !items.length"
      placeholder="Найти"
    >
    <ng-template #mobile>
      <input type="text"
         [value]="fieldValue"
         (focus)="openSelect()"
         (blur)="setFieldValue()"
         [disabled]="stateDisabled || disabled || !items.length"
         readonly="true"
      >
    </ng-template>
  </div>
  <div class="select__dropdown">
    <div *ngIf="!isBreakpointMatched" class="select__search">
      <button class="select__close" (click)="closeSelect()">
        <app-icon name="close" width="30" height="30"></app-icon>
      </button>
      <input
           #inputField
           type="text"
           placeholder="Найти" />
    </div>
    <ul *ngIf="filteredItems.length; else empty" class="select__list">
      <li
        *ngFor="let item of filteredItems"
        class="select__item"
        [class.select__item--active]="item.value === value"
        [attr.data-value]="item.value"
        (click)="changeValue(item.value); closeSelect()">
        {{ item.name }}
      </li>
    </ul>
    <ng-template #empty>
      <div class="select__empty">Ничего не найдено...</div>
    </ng-template>
  </div>
  <div *ngIf="isSelectOpened" class="select__backdrop" (click)="closeSelect()"></div>
</div>
