<div [class]="cssClass">
  <div class="help-box__item">
    <app-icon name="phone-help" width="24" height="24"></app-icon>
    <span class="help-box__label">По телефону</span>
    <a href="tel: 8(423)2056117" class="help-box__link">+7 (423) 293-78-79</a>
  </div>
  <div class="help-box__item">
    <app-icon name="whatsapp" width="24" height="24"></app-icon>
    <span class="help-box__label">Написать в</span>
    <a href="https://wa.me/+79089937879" target="_blank" class="help-box__link">WhatsApp</a>
  </div>
</div>
