<ul [class]="cssClass">
  <ng-container *ngIf="data">
    <li *ngFor="let item of data" class="list__item">
      <ng-container *ngIf="isLink(item); else default">
        <app-icon name="arrow-right-bold" width="24" height="20"></app-icon>
        <app-link [href]='item.href' mods="outer">{{item.text}}</app-link>
      </ng-container>
      <ng-template #default>
        <app-icon name="check" width="24" height="20"></app-icon>
        <span [innerHTML]="item"></span>
      </ng-template>
    </li>
  </ng-container>
  <ng-container *ngIf="!data">
    <ng-content></ng-content>
  </ng-container>
</ul>
