.form {
  $form-column-gap: $container-padding-x;
  $form-border-radius: 10px;

  //margin-top: 35px;
  //margin-bottom: 50px;
  counter-reset: heading;
  text-align: left;

  &--support {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
      padding: 50px 75px;
    }
  }

  &__fieldset {
    margin: 0;
    display: grid;
    grid-column-gap: $form-column-gap;
    grid-row-gap: 15px;
    align-items: start;

    .form--support & {
      grid-template-columns: 1fr;

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 25px;
      }
    }
  }

  &__field {

    &--full {
      grid-column: 1 / -1;
    }
  }

  &__step {
    padding: 30px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: $white;
    overflow-y: auto;

    @include media-breakpoint-up(md) {
      padding: 25px;
      padding-bottom: 30px;
    }
  }

  &__label {
    margin-bottom: 3px;
    display: block;
    font-family: var(--font-text);
    font-size: 14px;
    line-height: 20px;
    text-align: left;

    &--light {
      color: rgba($black-color, 0.3);
    }

    &--full {
      grid-column: 1 / -1;
    }

    &--invalid {
      color: $red-color;
    }
  }

  &__total {
    padding: 0 15px;
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: var(--red-color);

    @include media-breakpoint-up(md) {
      padding: 0 25px;
    }
  }

  &__actions {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;

    @include media-breakpoint-up(md) {
      padding: 25px;
    }
  }
}
