<app-modal mods="content-center" (close)="close()">
  <app-icon name="notice" width="50" height="45"></app-icon>
  <p [innerHTML]="message || 'Вы уверены?'"></p>
  <div style="margin-top: 20px; display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 10px;">
    <app-btn type="button" mods="black" (click)="cancel()">Отменить</app-btn>
    <app-btn type="button" mods="white" (click)="ok()">Да</app-btn>
  </div>
</app-modal>
