<button *ngIf="type === 'add'; else tag" type="button" [class]="cssClass + ' tag--add'" [disabled]="disabled">
  <div class="tag__body">
    <app-icon name="plus" width="19" height="19"></app-icon>
    <span class="tag__text">Добавить</span>
  </div>
</button>

<ng-template #tag>
  <label [class]="cssClass" [class.tag--invalid]="invalid">
    <input type="radio" name="tag" class="tag__input" (change)="changeValue(index)" [checked]="checked" [disabled]="disabled">
<!--    <input type="radio" name="tag" class="tag__input" (change)="changeValue(index)" [checked]="checked">-->
<!--    (change)="selectTag($event, index)"-->
    <div class="tag__body">
      <span class="tag__text">
        <ng-content></ng-content>
      </span>
      <button *ngIf="index" type="button" class="tag__delete" (click)="onDelete(index)">
        <app-icon name="close" width="10" height="10"></app-icon>
      </button>
    </div>
  </label>
</ng-template>
