@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.tag {
  $bottom-space: 10px;

  margin-right: 10px;
  margin-bottom: $bottom-space;
  display: block;

  &__input {
    display: none;
  }

  &__body {
    padding: 10px;
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $primary-color;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    @include hover {
      &:not(:checked),
      &:not(:disabled) {
        background-color: $primary-color;
      }
    }

    .tag__input:checked ~ & {
      background-color: $primary-color;
    }

    .tag__input:disabled ~ & {
      background-color: $gray-light-color;
      border-color: $gray-light-color;
      cursor: not-allowed;
    }

    .tag--invalid .tag__input:checked ~ & {
      color: $white-color;
      background-color: $red-color;
      border-color: $red-color;
    }

    .tag--add & {
      padding-right: 12px;
      border-width: 1px;
      border-color: $gray-light-color;
      justify-content: center;
    }

    .tag--add:disabled & {
      @include hover {
        background-color: transparent;
      }
    }

    ::ng-deep .tag--add:not(:disabled) & {
      @include hover {
        background-color: transparent;
        border-color: $primary-color;
        color: $gray-dark-color;

        svg {
          --color: #333333;
          --circle-bg-color: #FFDC00;
        }
      }
    }
  }

  &__text {
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 1;

    .tag--add & {
      margin-left: 10px;
      margin-right: unset;
    }
  }

  &__delete {
    position: relative;
    display: none;

    .tag__input:checked ~ .tag__body & {
      @include close-button();
      display: block;
    }

    .tag--invalid .tag__input:checked ~ .tag__body & {
      @include close-button($white-color);
      display: block;
    }

    .tag__input:disabled ~ .tag__body & {
      display: none;
    }

    @include hover {
      opacity: 0.6;
    }
  }

  &--add {
    @include btn-default();

    &:disabled {
      cursor: not-allowed;
    }

    // flex-basis: 100%;
    margin-bottom: $bottom-space;
  }

  ::ng-deep &--add svg {
    --color: #808080;
    --circle-bg-color: #F2F2F2;

    //@include hover {
    //  --color: #333333;
    //  --circle-bg-color: #FFDC00;
    //}
  }
}
