<div *ngIf="data.length" class="swiper swiper--main">
  <div class="">
    <swiper #swiper
            [config]="config"
            [pagination]="{ el: '.' + id, clickable: true }"
    >
      <ng-template *ngFor="let item of data; let i = index;" swiperSlide>
        <div class="swiper-slide-bg" [style.background-image]="'url(/assets/images/main-slider/' + item.type +'.jpg)'">
          <div class="swiper-slide-inner">
            <h2 class="swiper-title" [innerHTML]="item.title"></h2>
            <p class="swiper-text" [innerHTML]="item.text"></p>
            <div class="swiper-slide-btn">
              <app-btn type="button" (click)="showModal({
              title: item.title,
              subtitle: ''
        })">Заказать</app-btn>
            </div>
            <button
              *ngIf="(swiper && swiper.swiperRef) && (!swiper.swiperRef.isBeginning || !this.swiper.swiperRef.isEnd)"
              class="swiper-btn swiper-btn-prev"
              (click)="slidePrev()"
              [disabled]="(swiper && swiper.swiperRef) && swiper.swiperRef.activeIndex === 0"></button>
            <button
              *ngIf="(swiper && swiper.swiperRef) && (!swiper.swiperRef.isBeginning || !this.swiper.swiperRef.isEnd)"
              class="swiper-btn swiper-btn-next"
              (click)="slideNext()"
              [disabled]="(swiper && swiper.swiperRef) && swiper.swiperRef.activeIndex >= this.swiper.swiperRef.slides.length - 1"
            ></button>
          </div>
        </div>
      </ng-template>
    </swiper>
    <div id="" [class]="'swiper-pagination ' + id"  slot="container-end"></div>
  </div>
</div>
