<header id="pageHeader" class="page-header" [class.page-header--sticky]="isSticky" #header>
  <div class="page-header__content">
    <div class="page-header__inner">
      <a routerLink="/" class="page-header__logo">
        <app-icon name="header-logo"></app-icon>
      </a>
      <nav class="page-header__nav">
        <app-main-nav></app-main-nav>
        <a href="tel:+74232026532" class="page-header__contact">
          <app-icon name="phone" width="15" height="15"></app-icon>
          <span>+7 4232 026532</span>
        </a>
      </nav>
      <div class="page-header__open">
        <button type="button" (click)="openMobileNav()">
          <app-icon name="burger" width="24" height="17"></app-icon>
        </button>
      </div>
      <app-mobile-nav [isOpen]="mobileNavIsOpen" (onClose)="closeMobileNav($event)"></app-mobile-nav>
    </div>
    <div class="page-header__breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
  </div>
</header>
