<div #contacts id="contacts" class="contacts">
  <div class="contacts__container">
    <div class="contacts__item">
      <div class="contacts__icon">
        <app-icon name="place" width="25" height="25"></app-icon>
      </div>
      <b>Адрес</b>
      <span>680510, Хабаровский край, <br>с. Тополево, ул. Центральная 2, лит.С</span>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <app-icon name="mail" width="25" height="25"></app-icon>
      </div>
      <b>Эл. почта</b>
      <app-link href="">info@dts-rent.ru</app-link>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <app-icon name="phone" width="25" height="25"></app-icon>
      </div>
      <b>Телефон</b>
      <app-link href="">+7(962)5879804</app-link>
    </div>
    <div class="contacts__item">
      <div class="contacts__icon">
        <app-icon name="clock" width="25" height="25"></app-icon>
      </div>
      <b>Время работы</b>
      <span>Без выходных</span>
    </div>
  </div>
</div>
