<!--<div *ngIf="deviceService.isMobile() || deviceService.isTablet()" [class]="cssClass" [class.datepicker&#45;&#45;invalid]="isInvalid">-->
<!--  <input type="date" [id]="id" [name]="name"-->
<!--         #datepicker class="datepicker__field" [ngModel]="value"-->
<!--         (ngModelChange)="changeValue($event)" placeholder="дд.мм.гггг">-->
<!--</div>-->

<!--*ngIf="deviceService.isDesktop()"-->

<div [class]="cssClass" [class.datepicker--invalid]="invalid">
  <div class="datepicker__field-wrap">
    <input type="text" [id]="id" [name]="name" [value]="value"
           angular-mydatepicker [options]="dpOptions" locale="ru" #dp="angular-mydatepicker"
           class="datepicker__field" (click)="dp.openCalendar()" (dateChanged)="changeValue($event)"
           placeholder="дд.мм.гггг">
  </div>
  <div *ngIf="invalid" class="datepicker__errors">
    <ng-content select=".errors"></ng-content>
  </div>
</div>
