@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.ribbon {
  position: absolute;
  top: -6px;
  right: 25px;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 10px solid $primary-color;
  }

  &__text {
    position: relative;
    display: block;
    text-align: center;
    background: $primary-color;
    font-family: $font-family;
    font-size: 14px;
    line-height: 22px;
    padding: 20px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px;

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      height: 6px;
      width: 6px;
      left: -6px;
      top: 0;
      background: darken($primary-color, 7%);
    }

    &::after {
      height: 6px;
      width: 8px;
      left: -8px;
      top: 0;
      border-radius: 8px 8px 0 0;
      background: darken($primary-color, 7%);
    }
  }
}
