<div class="mobile-nav" [@navBlock]="isOpen">
  <div class="mobile-nav__header">
    <a routerLink="/" class="mobile-nav__logo" (click)="closeNav()">
      <app-icon name="header-logo" width="68" height="40"></app-icon>
    </a>
    <a href="tel:+74232026532" class="mobile-nav__contact mgo-number-13954">
      <app-icon name="phone" width="15" height="15"></app-icon>
    </a>
    <button *ngIf="isOpen" class="mobile-nav__close" (click)="closeNav()">
      <app-icon name="close" width="25" height="25"></app-icon>
    </button>
  </div>
  <div class="mobile-nav__scroll">
    <ul class="mobile-nav__list">
      <li *ngFor="let item of nav"  class="mobile-nav__item">
        <a *ngIf="!item.dropdown" [routerLink]="item.link"
           routerLinkActive="mobile-nav__link--active" class="mobile-nav__link" (click)="closeNav()">
          {{item.name}}
        </a>
        <a [routerLink]="item.link" *ngIf="item.dropdown" class="mobile-nav__link mobile-nav__link--toggle"
              [class.mobile-nav__link--active]="activeItem === item" (click)="openDropdown(item)">{{item.name}}</a>
        <ul  *ngIf="item.dropdown && activeItem === item" class="mobile-nav__list mobile-nav__list--inner">
          <li *ngFor="let item of item.dropdown" class="mobile-nav__item">
            <a [routerLink]="item.link" class="mobile-nav__link"
               routerLinkActive="mobile-nav__link--active" (click)="closeNav()">{{item.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="mobile-nav__footer">
      <a href="mailto: inbox@busbox.guru"
         class="mobile-nav__footer-link mobile-nav__footer-link--lg" (click)="closeNav()">
        <b>inbox@busbox.guru</b>
      </a>
      <a routerLink="/info/privacy-policy" class="mobile-nav__footer-link" (click)="closeNav()">Политика конфиденциальности</a>
      <div class="mobile-nav__text">2013-2020 © ООО «Приморье»</div>
      <div class="mobile-nav__text">Идея и дизайн сайта: <app-link href="https://lead-wave.ru/">Lead Wave</app-link></div>
    </div>
  </div>
</div>
<div *ngIf="isOpen" class="mobile-nav-backdrop" (click)="closeNav()"></div>
