<div [class]="cssClass">
  <div class="report__table">
    <ng-content select=".table"></ng-content>
  </div>
  <div class="report__data">
    <ng-content select=".data"></ng-content>
  </div>
  <div class="report__footer">
    <ng-content select=".footer"></ng-content>
  </div>
</div>
