<label [class]="cssClass" [class.checkbox--invalid]="invalid">
  <input #checkbox type="checkbox"
         [id]="id" [name]="name" class="checkbox__input"
         [ngModel]="value" (ngModelChange)="changeValue($event)"
         [disabled]="stateDisabled" [attr.disabled]="disabled || null">
  <div class="checkbox__body">
    <div class="checkbox__top">
      <div class="checkbox__label">
        <ng-content select=".text"></ng-content>
      </div>
      <button
        *ngIf="isClear && (disabled || stateDisabled)" type="button" class="checkbox__clear"
        (click)="onClear($event)" alt="Очистить">&#160;
        <app-icon name="close" width="10" height="10"></app-icon>
      </button>
    </div>
    <div class="checkbox__meta">
      <ng-content select=".meta"></ng-content>
    </div>
    <div class="checkbox__actions">
      <ng-content select=".actions"></ng-content>
    </div>
    <div class="checkbox__help">
      <ng-content select=".help"></ng-content>
    </div>
    <ng-content select=".other"></ng-content>
  </div>
</label>
