<article [class]="cssClass" [@fadeIn]="">
  <div class="modal__body">
<!--    <div class="modal__top">-->
<!--      <div *ngIf="meta" class="modal__meta">{{meta}}</div>-->
<!--      <button type="button" class="modal__close" (click)="onClose()">-->
<!--        <app-icon name="close" width="22" height="22"></app-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--    <h1 *ngIf="title" class="modal__title">{{title}}</h1>-->
<!--    <ng-content></ng-content>-->


    <div class="modal__header">
      <h1 class="modal__title" [innerHTML]="title"></h1>
      <small class="modal__subtitle" [innerHTML]="subtitle"></small>
    </div>
    <div class="modal__contact">
      <div class="modal__contact--inner">
        <app-icon name="phone" width="22" height="22"></app-icon>
<!--        <svg-icon [src]="'/assets/img/svg/phone-solid.svg'"></svg-icon>-->
        <a href="tel:+7(962)5879804">+7(962)5879804</a>
      </div>
    </div>
    <div class="modal__content">
      <ng-content></ng-content>
    </div>
    <button type="button" class="modal__close" (click)="onClose()">&times;</button>
  </div>
</article>
