<div #services id="services" class="services">
  <div class="services__container">
    <div class="services__list">
      <h2 class="services__title">Наши <span>услуги</span></h2>
      <ul>
        <li (click)="showPanel(1)" [class.active]="currentPanelId === 1"><span>Отпуск товара с АЗС</span></li>
        <li (click)="showPanel(2)" [class.active]="currentPanelId === 2"><span>Перевозка опасных грузов</span></li>
        <li (click)="showPanel(3)" [class.active]="currentPanelId === 3"><span>Покупка топлива на СПБМТСБ</span></li>
        <li (click)="showPanel(4)" [class.active]="currentPanelId === 4"><span>Прием вагоно-цистерн слива, хранения</span></li>
        <li (click)="showPanel(5)" [class.active]="currentPanelId === 5"><span>Техническое обслуживание АЗС</span></li>
        <li (click)="showPanel(6)" [class.active]="currentPanelId === 6"><span>Техническое обслуживание Автотранспорта</span></li>
      </ul>
      <small>
        * Безналичный расчет с НДС, без НДС
      </small>
    </div>
    <div #content class="services__main">
      <div class="services__section" *ngIf="currentPanelId === 1">
        <h3>Отпуск товара с АЗС</h3>
        <p>Aaaaaaaaaaaaaa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque eius eum excepturi, nam quod quos.
          Amet animi assumenda cumque debitis deserunt dicta distinctio dolor doloribus eaque earum eius enim error
          exercitationem facilis illo illum ipsum iste nulla odit officiis optio, perspiciatis porro, possimus provident
          quibusdam repellendus rerum sapiente totam ut voluptate! Distinctio ducimus eaque nostrum quis quod. Adipisci
          consectetur consequatur minus, nam nisi quaerat sed! Animi beatae blanditiis debitis, eaque eligendi est eveniet
          ex facilis impedit iste itaque labore laboriosam, maxime nihil obcaecati placeat praesentium ratione,
          reprehenderit soluta tenetur ut vel veniam voluptatem? Cum dolorum fugit iusto ullam voluptatem!</p>
        <app-btn type="button" mods="max-w-270" (click)="showModal({
          title: 'Отпуск товара с АЗС',
          subtitle: ''
        })">Оформить заказ</app-btn>
      </div>
      <div class="services__section" *ngIf="currentPanelId === 2">
        <h3>Перевозка опасных грузов</h3>
        <p>BBBBBBBBBBB. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque eius eum excepturi, nam quod quos.
          Amet animi assumenda cumque debitis deserunt dicta distinctio dolor doloribus eaque earum eius enim error
          exercitationem facilis illo illum ipsum iste nulla odit officiis optio, perspiciatis porro, possimus provident
          quibusdam repellendus rerum sapiente totam ut voluptate! Distinctio ducimus eaque nostrum quis quod. Adipisci
          consectetur consequatur minus, nam nisi quaerat sed! Animi beatae blanditiis debitis, eaque eligendi est eveniet
          ex facilis impedit iste itaque labore laboriosam, maxime nihil obcaecati placeat praesentium ratione,
          reprehenderit soluta tenetur ut vel veniam voluptatem? Cum dolorum fugit iusto ullam voluptatem!</p>
        <app-btn type="button" mods="max-w-270" (click)="showModal({
          title: 'Перевозка опасных грузов',
          subtitle: ''
        })">Оформить заказ</app-btn>
      </div>
      <div class="services__section" *ngIf="currentPanelId === 3">
        <h3>Покупка топлива на СПБМТСБ</h3>
        <p>CCCCCCCCC Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque eius eum excepturi, nam quod quos.
          Amet animi assumenda cumque debitis deserunt dicta distinctio dolor doloribus eaque earum eius enim error
          exercitationem facilis illo illum ipsum iste nulla odit officiis optio, perspiciatis porro, possimus provident
          quibusdam repellendus rerum sapiente totam ut voluptate! Distinctio ducimus eaque nostrum quis quod. Adipisci
          consectetur consequatur minus, nam nisi quaerat sed! Animi beatae blanditiis debitis, eaque eligendi est eveniet
          ex facilis impedit iste itaque labore laboriosam, maxime nihil obcaecati placeat praesentium ratione,
          reprehenderit soluta tenetur ut vel veniam voluptatem? Cum dolorum fugit iusto ullam voluptatem!</p>
        <app-btn type="button" mods="max-w-270" (click)="showModal({
          title: 'Покупка топлива на СПБМТСБ',
          subtitle: ''
        })">Оформить заказ</app-btn>
      </div>
      <div class="services__section" *ngIf="currentPanelId === 4">
        <h3>Прием вагоно-цистерн слива, хранения</h3>
        <p>DDDDDDDDDDD Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque eius eum excepturi, nam quod quos.
          Amet animi assumenda cumque debitis deserunt dicta distinctio dolor doloribus eaque earum eius enim error
          exercitationem facilis illo illum ipsum iste nulla odit officiis optio, perspiciatis porro, possimus provident
          quibusdam repellendus rerum sapiente totam ut voluptate! Distinctio ducimus eaque nostrum quis quod. Adipisci
          consectetur consequatur minus, nam nisi quaerat sed! Animi beatae blanditiis debitis, eaque eligendi est eveniet
          ex facilis impedit iste itaque labore laboriosam, maxime nihil obcaecati placeat praesentium ratione,
          reprehenderit soluta tenetur ut vel veniam voluptatem? Cum dolorum fugit iusto ullam voluptatem!</p>
        <app-btn type="button" mods="max-w-270" (click)="showModal({
          title: 'Прием вагоно-цистерн слива, хранения',
          subtitle: ''
        })">Оформить заказ</app-btn>
      </div>
      <div class="services__section" *ngIf="currentPanelId === 5">
        <h3>Техническое обслуживание АЗС</h3>
        <p> FFFFFFFFFFF Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque eius eum excepturi, nam quod quos.
          Amet animi assumenda cumque debitis deserunt dicta distinctio dolor doloribus eaque earum eius enim error
          exercitationem facilis illo illum ipsum iste nulla odit officiis optio, perspiciatis porro, possimus provident
          quibusdam repellendus rerum sapiente totam ut voluptate! Distinctio ducimus eaque nostrum quis quod. Adipisci
          consectetur consequatur minus, nam nisi quaerat sed! Animi beatae blanditiis debitis, eaque eligendi est eveniet
          ex facilis impedit iste itaque labore laboriosam, maxime nihil obcaecati placeat praesentium ratione,
          reprehenderit soluta tenetur ut vel veniam voluptatem? Cum dolorum fugit iusto ullam voluptatem!</p>
        <app-btn type="button" mods="max-w-270" (click)="showModal({
          title: 'Техническое обслуживание АЗС',
          subtitle: ''
        })">Оформить заказ</app-btn>
      </div>
      <div class="services__section" *ngIf="currentPanelId === 6">
        <h3>Техническое обслуживание Автотранспорта</h3>
        <p> GGGGGGGGGGGG Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque eius eum excepturi, nam quod quos.
          Amet animi assumenda cumque debitis deserunt dicta distinctio dolor doloribus eaque earum eius enim error
          exercitationem facilis illo illum ipsum iste nulla odit officiis optio, perspiciatis porro, possimus provident
          quibusdam repellendus rerum sapiente totam ut voluptate! Distinctio ducimus eaque nostrum quis quod. Adipisci
          consectetur consequatur minus, nam nisi quaerat sed! Animi beatae blanditiis debitis, eaque eligendi est eveniet
          ex facilis impedit iste itaque labore laboriosam, maxime nihil obcaecati placeat praesentium ratione,
          reprehenderit soluta tenetur ut vel veniam voluptatem? Cum dolorum fugit iusto ullam voluptatem!</p>
        <app-btn type="button" mods="max-w-270" (click)="showModal({
          title: 'Техническое обслуживание Автотранспорта',
          subtitle: ''
        })">Оформить заказ</app-btn>
      </div>
    </div>
  </div>
</div>
