<app-modal mods="theme-yellow, content-center" title="Авторизация" (close)="close()">
  <form action="#" class="form form--no-margin"
    autocomplete="off"
    [formGroup]="form"
    (submit)="onSubmit()"
    style="margin-bottom: 25px;"
  >
    <div class="form__fieldset">
      <div class="form__field">
        <label for="Email" class="form__label form__label--light">Логин</label>
        <app-input
          id="Email"
          [type]="FormFieldMeta[FormControlName.Email].type"
          [formControlName]="FormControlName.Email"
          [mask]="FormFieldMeta[FormControlName.Email].mask"
          [prefix]="FormFieldMeta[FormControlName.Email].prefix"
          [invalid]="(form.get(FormControlName.Email).invalid
           && form.get(FormControlName.Email).touched)"
          mods="clean"
        >
          <ng-container class="errors">
            <small *ngIf="utils.getObjectKey(form.get(FormControlName.Email).errors).length">
              {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Email).errors)[0]]}}
            </small>
          </ng-container>
        </app-input>
      </div>
      <div class="form__field">
        <label for="password" class="form__label form__label--light">
          {{FormFieldMeta[FormControlName.Password].label}}
        </label>
        <app-input
          id="password"
          [type]="FormFieldMeta[FormControlName.Password].type"
          [formControlName]="FormControlName.Password"
          [invalid]="(form.get(FormControlName.Password).invalid
           && form.get(FormControlName.Password).touched)"
          mods="clean"
        >
          <ng-container class="restore">
            <a href="#" class="input__restore">Забыли пароль</a>
          </ng-container>
          <ng-container class="errors">
            <small *ngIf="utils.getObjectKey(form.get(FormControlName.Password).errors).length">
              {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Password).errors)[0]]}}
            </small>
          </ng-container>
        </app-input>
      </div>
      <app-checkbox mods="md, inverted" [formControlName]="FormControlName.Remember">
        <ng-container class="text">{{FormFieldMeta[FormControlName.Remember].label}}</ng-container>
      </app-checkbox>
      <app-btn type="submit" mods="lg, black">Авторизоваться</app-btn>
    </div>
  </form>
  <app-link (click)="showSignInModal($event)">Регистрация</app-link>
</app-modal>
