html,
body {
  height: 100%;
  font-family: $font-family;
  font-size: 13px;
  line-height: 14px;
  color: $font-color;
  //background-color: $gray;
}

body {
  touch-action: pan-x pan-y;

  //@include header-sticky(xs) {
  //  padding-top: 70px;
  //}
}

.wrap {
  position: relative;
  transition: all 0.25s ease-in;
  transform: translateX(0);

  .page--select-open & {
    transform: translateX(-320px);
  }
}

p {
  margin: 0.55em 0;
  font-family: $font-family--secondary;
  font-size: 16px;
  line-height: 1.4;
}

small {
  margin: 10px 0;
  display: inline-block;
  font-family: $font-family--secondary;
  font-size: 12px;
  line-height: 22px;
  color: $gray-dark-color;
}

img {
  width: 100%;
  height: auto;
}

picture {
  display: block;
}

// utils

.u-no-mgt--lg {
  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

body.index {
  overflow-x: hidden;
}
