<app-modal mods="content-center" (close)="close()">
  <app-icon name="ok" width="52" height="46"></app-icon>
  <p [innerHTML]="message || 'Готово'"></p>
  <div style="margin-top: 20px;">
    <app-btn type="button" mods="black" (click)="ok()">{{btnText || 'Хорошо, спасибо!'}}</app-btn>
  </div>
</app-modal>
