.product {
  position: relative;
  padding: 25px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    //z-index: -1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg,rgba(252,192,6,0) 0%,#FFC006 100%);
    opacity: 0.8;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );

  }

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--white-color);
  }

  &__title {
    font-family: var(--font-title);
    font-size: 25px;
    line-height: 28px;
    color: var(--white-color);
    text-align: center;
  }

  &__list {
    margin: 30px 0;
  }

  &__list li {
    margin-bottom: 5px;
    font-family: var(--font-text);
    font-size: 14px;
    line-height: 18px;
    color: var(--white-color)
  }

  &__text {

  }
}
