<article class="product" [style.background-image]="'url(/assets/images/products/image-' + data.id +'.jpg)'">
<!--  <div class="product__img">-->
<!--    <img [src]="data.img" alt="">-->
<!--  </div>-->
  <b class="product__title" [innerHTML]="data.title"></b>
  <ul *ngIf="data.list" class="product__list">
    <li *ngFor="let item of data.list">{{item}}</li>
  </ul>
<!--  <div *ngIf="data.products && data.products.length" class="product__price">-->
<!--    <div *ngFor="let product of data.products">{{product.name}}</div>-->
<!--  </div>-->
  <app-btn type="button" (click)="showModal(data)" mods="max-w-270">Оформить заявку</app-btn>
</article>
