<ul class="main-nav">
  <li *ngFor="let item of nav" class="main-nav__item">
    <a routerLink='.' [fragment]='item.link' class="main-nav__link" routerLinkActive="main-nav__link--active">
      <span>{{item.name}}</span>
    </a>
  </li>
</ul>
