@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.main-nav {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  list-style: none;

  @include header-sticky(lg) {
    margin-right: 65px;
  }

  &__input {
    display: none;
  }

  &__item {
    position: relative;

    .main-nav > &  {

      @include header-sticky(lg) {
        padding-bottom: $sticky-menu-bottom-space * 2 !important;
      }
    }
  }

  &__link {
    font-family: $font-family;
    font-size: 17px;
    line-height: 24px;
    color: darken($gray-dark-color, 10%); //#666666
    text-decoration: none;
    white-space: nowrap;

    &--active {
      color: $black-color;
    }

    @include hover {
      color: $black-color;
    }

    //@include active {
    //  color: $black-color;
    //}

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 17px;
    }

    @include header-sticky(lg) {
      font-size: 14px;
    }
  }

  &__link span {
    position: relative;
    display: inline-block;

    &::after {

      @include header-sticky(lg) {
        top: 0.55em;
      }
    }
  }
}
