<ul [class]="cssClass" aria-label="pagination">
  <li class="pagination__item current">
    <span>1</span>
  </li>
  <li class="pagination__item">
    <a href="#" aria-label="Page 2">2</a>
  </li>
  <li class="pagination__item">
    <a href="#" aria-label="Page 3">3</a>
  </li>
  <li class="pagination__item">
    <span aria-label="dots">...</span>
  </li>
  <li class="pagination__item">
    <a href="#" aria-label="Page 10">10</a>
  </li>
</ul>
