<div #about id="about" class="about-short">
  <div class="about-short__container">
    <h2 class="about-short__title">Работаем с <span>2001</span> года в<br class="br br--show-sm"> Дальневосточном регионе</h2>
    <p class="about-short__text">Хабаровский край, ЕАО, Амурская область, Приморский край</p>
<!--    <div class="about-short__link">-->
<!--      <app-link href="">Подробнее о нас</app-link>-->
<!--    </div>-->
    <p class="about-short__details">Осуществляем закупку продовольствия на товарно-сырьевой бирже,
      осуществляем оптовую и розничную реализацию нефтепродуктов, а также оказываем транспортные услуги
      по перевозке опасных грузов.
    </p>
  </div>
</div>
