<div *ngIf="type === 'textarea'; else input"
     [class]="cssClass + ' input--textarea'"
     [class.input--invalid]="invalid">
  <textarea #textarea
            [id]="id" class="input__field"
            [name]="name" [placeholder]="placeholder"
            [rows]="rows" [ngModel]="value"
            (ngModelChange)="changeValue($event)"
            (blur)="markAsTouched()"
            maxlength="700"
  >
  </textarea>
  <div class="input__errors">
<!--    <ng-content select=".errors"></ng-content>-->
  </div>
</div>

<ng-template #input>
  <div *ngIf="unit; else simpleInput" [class]="cssClass"
       [class.input--focused]="focused" (click)="onFocus()">
    <div class="input__field">
      <input #inputField
             [type]="type" [id]="id" [name]="name"
             [placeholder]="placeholder" hidden
             [maxLength]="maxlength"
             [pattern]="(type === 'text') ? Pattern.Text : ''"
      />
      <span #editContent class="input__edit" contenteditable (blur)="onBlur()"
            (input)="changeValue(editContent.textContent)">{{ inputField.value}}</span>
      <span class="input__unit">{{unit}}</span>
    </div>
    <div class="input__errors">
<!--      <ng-content select=".errors"></ng-content>-->
    </div>
  </div>
  <ng-template #simpleInput>
    <div [class]="cssClass" [class.input--invalid]="invalid" [class.input--valid]="isValid">
      <input  *ngIf="mask; else withoutMask"
              #simpleInputField [type]="type" [id]="id" class="input__field"
              [placeholder]="placeholder"
              [mask]="mask"
              [prefix]="prefix"
              [suffix]="suffix"
              [dropSpecialCharacters]="dropSpecialCharacters"
              [showMaskTyped]="showMaskTyped"
              [maxlength]="maxlength"
              [attr.inputmode]="inputmode"
              [ngModel]="value"
              (ngModelChange)="changeValue($event)"  (blur)="markAsTouched()" />
      <ng-template #withoutMask>
        <input #simpleInputField [type]="type" [id]="id" class="input__field" [attr.inputmode]="inputmode"
               [placeholder]="placeholder" [ngModel]="value" (ngModelChange)="changeValue($event)"
               (blur)="markAsTouched()" (keypress)="check(simpleInputField, $event)"
               [maxlength]="maxlength" [pattern]="(type === 'text') ? Pattern.Text : ''"/>
      </ng-template>
      <ng-content select=".restore"></ng-content>
      <div *ngIf="invalid" class="input__errors">
        <ng-content select=".errors"></ng-content>
      </div>
    </div>
  </ng-template>
</ng-template>
