@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.notification {
  background: $primary-color;

  ::ng-deep .page--mobile-open & {
    display: none;
  }

  &__container {
    @include container();

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
  }

  &__text {
    font-size: 14px;
  }

  &__close {
    @include close-button();

    margin-left: 20px;
  }
}
