<article *ngIf="!isClosed" [class]="cssClass">
  <div class="notification__container">
    <p class="notification__text">Мы запустили бета-версию нового сайта! При необходимости, Вы можете
      <app-link mods="in-text" href="https://www.busbox.guru">перейти на предыдущюю версию.</app-link>
    </p>
    <button type="button" class="notification__close" (click)="close()">
      <app-icon name="close" width="20" height="20"></app-icon>
    </button>
  </div>
</article>
