@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.counter {
  position: relative;
  padding: 0 15px;
  height: 50px;
  width: 140px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-column-gap: 5px;
  align-items: center;
  border: 1px solid #E5E5E5;
  border-radius: $border-radius;
  box-sizing: border-box;

  @include hover {
    border-color: $primary-color;
  }

  @include focus {
    border-color: lighten($red-color, 15%);
    outline: none;
  }

  &--full {
    width: 100%;
  }

  &--invalid {
    border: 1px solid $red-color;
    background-color: rgba($red-color, 0.5);
    color: $red-color;

    @include hover {
      border-color: lighten($red-color, 15%);
    }

    @include focus {
      border-color: lighten($red-color, 15%);
    }
  }

  &__input {
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
    width: 100%;
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: $font-color;
    border: none;
    background-color: transparent;
    user-select: none;

    &[type="number"] {

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .counter--invalid & {
      color: $red-color;
    }

    @include focus {
      outline: none;
    }
  }

  &__btn {
    @include btn-default();

    display: flex;

    ::ng-deep html.touch & {
      transition: all 0.25s ease-in;
    }

    ::ng-deep svg {
      --color: #808080;
      --circle-bg-color: #F2F2F2;

      @include hover {
        --color: #333333;
        --circle-bg-color: #FFDC00;
      }
    }

    ::ng-deep html.touch .counter__input:focus ~ & svg {
      --color: #333333;
      --circle-bg-color: #FFDC00;
    }

    ::ng-deep html.touch .counter--invalid .counter__input:focus ~ & {
      opacity: 0.2;
    }

    ::ng-deep html.touch .counter--invalid .counter__input:focus ~ & svg {
      --circle-bg-color: #F2F2F2;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
